<a href="https://colab.research.google.com/github/devarshee97/ML-practice/blob/main/Main_Loan_def_pred_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [30]:
data_train = pd.read_csv("loan_def_train.csv")
data_test = pd.read_csv("loan_def_test.csv")

In [31]:
data_train.head()

   Id Home Ownership  Annual Income  ... Monthly Debt  Credit Score  Credit Default
0   0       Own Home       482087.0  ...       7914.0         749.0               0
1   1       Own Home      1025487.0  ...      18373.0         737.0               1
2   2  Home Mortgage       751412.0  ...      13651.0         742.0               0
3   3       Own Home       805068.0  ...      11338.0         694.0               0
4   4           Rent       776264.0  ...       7180.0         719.0               0

[5 rows x 18 columns]

In [32]:
data_train.isnull().sum(axis=0)

Id                                 0
Home Ownership                     0
Annual Income                   1557
Years in current job             371
Tax Liens                          0
Number of Open Accounts            0
Years of Credit History            0
Maximum Open Credit                0
Number of Credit Problems          0
Months since last delinquent    4081
Bankruptcies                      14
Purpose                            0
Term                               0
Current Loan Amount                0
Current Credit Balance             0
Monthly Debt                       0
Credit Score                    1557
Credit Default                     0
dtype: int64

In [33]:
tr_num = data_train.select_dtypes(include = ["int", "float"]).columns.to_list()
tr_cat = data_train.select_dtypes(include = ["object"]).columns.to_list()
tr_num

['Id',
 'Annual Income',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score',
 'Credit Default']

In [34]:
data_train["Annual Income"] = data_train["Annual Income"].fillna(data_train["Annual Income"].median())

In [35]:
data_train["Annual Income"].isnull().sum(axis=0)

0

In [36]:
data_train["Credit Score"] = data_train["Credit Score"].fillna(data_train["Credit Score"].median())

data_train["Credit Score"].isnull().sum()

0

In [37]:
data_train["Credit Score"].value_counts()

731.0     1651
740.0      169
747.0      168
748.0      157
745.0      152
          ...
602.0        1
616.0        1
585.0        1
620.0        1
7010.0       1
Name: Credit Score, Length: 268, dtype: int64

In [38]:
data_train["Years in current job"]= data_train["Years in current job"].fillna(data_test["Years in current job"].value_counts().index[0])
data_train["Years in current job"].isnull().sum()

0

In [39]:
y_train = data_train["Id"]

In [40]:
data_train = data_train.drop(["Months since last delinquent", "Id"], axis=1)

In [41]:
data_train["Bankruptcies"] = data_train["Bankruptcies"].fillna(data_train["Bankruptcies"].median())

In [42]:
data_train.isnull().sum().sum()

0

In [43]:
data_train = data_train.drop(["Credit Default"], axis=1)

In [44]:
tr_num.remove("Months since last delinquent")
tr_num

['Id',
 'Annual Income',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Bankruptcies',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score',
 'Credit Default']

In [45]:
tr_cat

['Home Ownership', 'Years in current job', 'Purpose', 'Term']

In [46]:
data_train_dum = pd.get_dummies(data_train, columns = tr_cat)
data_train_dum.head()

   Annual Income  Tax Liens  ...  Term_Long Term  Term_Short Term
0       482087.0        0.0  ...               0                1
1      1025487.0        0.0  ...               1                0
2       751412.0        0.0  ...               0                1
3       805068.0        0.0  ...               0                1
4       776264.0        0.0  ...               0                1

[5 rows x 43 columns]

In [47]:
cols_to_drop = ["Years in current job_< 1 year", "Purpose_wedding","Term_Short Term", "Home Ownership_Rent"]
data_train_dum = data_train_dum.drop(cols_to_drop, axis=1)
data_train_dum.head()

   Annual Income  Tax Liens  ...  Purpose_vacation  Term_Long Term
0       482087.0        0.0  ...                 0               0
1      1025487.0        0.0  ...                 0               1
2       751412.0        0.0  ...                 0               0
3       805068.0        0.0  ...                 0               0
4       776264.0        0.0  ...                 0               0

[5 rows x 39 columns]

In [48]:
data_train_dum.describe().columns

Index(['Annual Income', 'Tax Liens', 'Number of Open Accounts',
       'Years of Credit History', 'Maximum Open Credit',
       'Number of Credit Problems', 'Bankruptcies', 'Current Loan Amount',
       'Current Credit Balance', 'Monthly Debt', 'Credit Score',
       'Home Ownership_Have Mortgage', 'Home Ownership_Home Mortgage',
       'Home Ownership_Own Home', 'Years in current job_1 year',
       'Years in current job_10+ years', 'Years in current job_2 years',
       'Years in current job_3 years', 'Years in current job_4 years',
       'Years in current job_5 years', 'Years in current job_6 years',
       'Years in current job_7 years', 'Years in current job_8 years',
       'Years in current job_9 years', 'Purpose_business loan',
       'Purpose_buy a car', 'Purpose_buy house', 'Purpose_debt consolidation',
       'Purpose_educational expenses', 'Purpose_home improvements',
       'Purpose_major purchase', 'Purpose_medical bills', 'Purpose_moving',
       'Purpose_other', 'Purpose_renewable energy', 'Purpose_small business',
       'Purpose_take a trip', 'Purpose_vacation', 'Term_Long Term'],
      dtype='object')

In [49]:
X_train = data_train_dum.copy()
X_train_scaled = StandardScaler().fit_transform(X_train[[ "Annual Income","Maximum Open Credit","Current Loan Amount",
                                                         "Current Credit Balance", "Monthly Debt"]].values)

X_train[["Annual Income", "Maximum Open Credit","Current Loan Amount",
                                                         "Current Credit Balance", "Monthly Debt"]] = X_train_scaled
X_train.head()

   Annual Income  Tax Liens  ...  Purpose_vacation  Term_Long Term
0      -1.114304        0.0  ...                 0               0
1      -0.396190        0.0  ...                 0               1
2      -0.758385        0.0  ...                 0               0
3      -0.687478        0.0  ...                 0               0
4      -0.725543        0.0  ...                 0               0

[5 rows x 39 columns]

In [51]:
X_train["Credit Score"] = np.log1p(X_train['Credit Score'])

In [52]:
X_train["Years of Credit History"] = np.log1p(X_train['Years of Credit History'])
X_train["Number of Open Accounts"] = np.log1p(X_train['Number of Open Accounts'])

In [53]:
X_train.head()

   Annual Income  Tax Liens  ...  Purpose_vacation  Term_Long Term
0      -1.114304        0.0  ...                 0               0
1      -0.396190        0.0  ...                 0               1
2      -0.758385        0.0  ...                 0               0
3      -0.687478        0.0  ...                 0               0
4      -0.725543        0.0  ...                 0               0

[5 rows x 39 columns]

In [54]:
y_train

0          0
1          1
2          2
3          3
4          4
        ...
7495    7495
7496    7496
7497    7497
7498    7498
7499    7499
Name: Id, Length: 7500, dtype: int64

In [ ]:
classifier = XGBClassifier()
model = classifier.fit(X_train, y_train)

In [ ]:
print("Training accuracy with LogisticRegression is: ", classifier.score(X_train, y_train))